{% extends "base_generic.html" %}

{% block content %}
    <h1>Title: {{ book.title }}</h1>

    <p><strong>Auhor:</strong> <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p>
    <p><strong>Descritpion:</strong> {{ book.description }}</p>
    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    <p><strong>Language:</strong> {{ book.language }}</p>
    <p><strong>Catgegory:</strong> {{ book.category.all|join:", " }}</p>

    {% if perms.catalog.can_mark_returned %}
        <a href="{% url 'book-update' book.pk %}">Update</a> <a href="{% url 'book-delete' book.pk %}">Delete</a>
    {% endif %}

    <div style="margin-left:20px;margin-top:20px">
        <h4>Copies</h4>

        {% for copy in book.bookorder_set.all %}
            <hr>
            <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
                {{ copy.get_status_display }}
            </p>
            {% if perms.catalog.can_mark_returned %}
                {% if copy.status == 'o' or copy.status == 'r' %}
                    <p><strong>Borrow to:</strong> {{ copy.due_back }}</p>
                {% endif %}
            {% endif %}
            <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
            <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
{#            {% if copy.status == 'a' %}#}
{#                <p>#}
{#                    <a href="{% url 'bookinstance_borrow' pk=copy.id book_pk=book.pk book_title=book.title %}">Zarezerwuj</a>#}
{#                    <a href="{% url 'bookinstance_borrow' pk=copy.id book_pk=book.pk book_title=book.title %}">Wypożycz</a>#}
{#                </p>#}
{#            {% endif %}#}
            <a href="{% url 'book-return' copy.id %}">Return book</a>
            <a href="{% url 'book-order-delete' copy.id %}">Delete Book</a>
        {% endfor %}
    </div>
{% endblock %}