{% extends "base_generic.html" %}

{% block title %}
    <title></title>
{% endblock %}

{% block content %}
    <h1>Local Library - Home</h1>
    <p>Welcome to the Local Library</p>
    <p>The library has the following items:</p>
    <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Categories:</strong> {{ num_categories }}</li>
        <li><strong>Number of copies:</strong> {{ num_instances }}</li>
        <li><strong>Number of copies available:</strong> {{ num_instances_available }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
    </ul>
{% endblock %}